.analytics-cards {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.card-value{
    font-size: 35px;
    font-weight: 700;
    color: #5eabf4;
}

@media (max-width: 992px) {
    .analytics-cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }
}

/* 🔥 Mobile */
@media (max-width: 600px) {
    .analytics-cards {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .card {
        padding: 15px;
    }

    .card-value {
        font-size: 28px;
    }
}