.courses-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.course-card {
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.course-image{
    width: 100%;
    border-radius: 15px;
}

.course-description{
    text-align: justify;
}

.course-details{
    display: flex;
    justify-content: space-between;
}

.course-icon{
    color: grey;
}

.enroll-button{
    color: blue;
    cursor: pointer;
}

.admin-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-course-button {
    background-color: #4a85d7;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
}

@media (max-width: 1200px) {
    .courses-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 40px;
    }

    .admin-card {
        grid-column: span 3;
    }
}

@media (max-width: 900px) {
    .courses-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .admin-card {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .courses-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .course-card {
        padding: 15px;
    }

    .course-description {
        font-size: 13px;
    }

    .admin-card {
        grid-column: span 1;
    }
}